<%- include("partials/header") %>

    <div class="grid-item content">
        <div class="announcement p-4">
            <h2 class="pb-2">
                <%= announcement[0] %>
            </h2>
            <hr>
            <p>
                <%= announcement[1] %>
            </p>
        </div>
    </div>

<%- include("partials/footer") %>